<form action="" class="form-horizontal" [formGroup]="employeeForm">
    <div class="card">
        <div class="card-header text-center">
            <h3 class="card-title">Create Employee</h3>
        </div>
        <div class="card-body">
            <div class="row form-group" [ngClass]="{'haserror':formErrors.fullName}">
                <label for="fullName" class="col-sm-2 control-label">Full Name</label>
                <div class="col-sm-8">
                    <input type="fullName" formControlName="fullName" class="form-control" id="fullName"
                        placeholder="Fullname LastName">
                    <span class="help-block" *ngIf="formErrors.fullName">
                        {{formErrors.fullName}}
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-2 control-label">Email address</label>
                <div class="col-sm-8">
                    <input type="email" formControlName="email" class="form-control" id="email"
                        placeholder="name@example.com">
                </div>
            </div>
        </div>
        <div class="card-footer text-muted btn-group">
            <div class="mr-2">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            <div class="mr-2">
                <button class="btn btn-secondary" type="button" (click)="onLoadDataClick()">Load Data</button>
            </div>
        </div>
    </div>
</form>